In [10]:
import json
import numpy as np
import pandas as pd
from matplotlib import pyplot as plt
import matplotlib.patches as patches
from preprocessing import PreProcessing
from kloppy import (
    # load_metrica_tracking_data, 
    # load_tracab_tracking_data,
    # load_epts_tracking_data, 
    # load_statsbomb_event_data,
    # load_opta_event_data,
    # to_pandas, 
    # transform,
    metrica
)

In [3]:
game_3_data = pd.read_csv("game/FULL MATCH _ Man City v Tottenham _ VIP Tactical Camera 1080p _ 2022 __FifaDataRawData.txt", sep=r"[;,:]", header=None, engine="python")
game_3_data.index =  range(1, len(game_3_data) + 1)
# df_home = df.iloc[:, :23]
# df_home = pd.concat([df_home, df.iloc[:, -2:]], axis=1)
# df_away = df.iloc[:, 23:]
# df_away = pd.concat([df.iloc[:, 0], df_away], axis=1)

In [8]:
game_3_data

,0,1,2,3,4,5,6,7,8,9,...,174,175,176,177,178,179,180,181,182,183
1,1,0.68944,1.02866,0,0.402215,0.45254,0.65863,1,1.829323,NaN,...,NaN,-100,NaN,0.91063,0.51413,2,2.61732,NaN,NaN,NaN
2,2,0.68923,1.02838,0,0.402215,0.45199,0.65776,1,1.829323,NaN,...,NaN,-100,NaN,0.90999,0.51272,2,2.61732,NaN,NaN,NaN
3,3,0.68903,1.02810,0,0.402215,0.45144,0.65688,1,1.829323,NaN,...,NaN,-100,NaN,0.90935,0.51132,2,2.61732,NaN,NaN,NaN
4,4,0.68884,1.02784,0,0.402215,0.45091,0.65600,1,1.829323,NaN,...,NaN,-100,NaN,0.90871,0.50993,2,2.61732,NaN,NaN,NaN
5,5,0.68867,1.02758,0,0.402215,0.45039,0.65511,1,1.829323,NaN,...,NaN,-100,NaN,0.90805,0.50856,2,2.61732,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
162321,162321,NaN,NaN,-100,NaN,NaN,NaN,-100,NaN,NaN,...,0.87794,0,0.051278,0.85587,0.43931,-100,NaN,NaN,NaN,NaN
162322,162322,NaN,NaN,-100,NaN,NaN,NaN,-100,NaN,NaN,...,0.87796,0,0.047640,0.85587,0.43931,-100,NaN,NaN,NaN,NaN
162323,162323,NaN,NaN,-100,NaN,NaN,NaN,-100,NaN,NaN,...,0.87799,0,0.046902,0.85587,0.43931,-100,NaN,NaN,NaN,NaN
162324,162324,NaN,NaN,-100,NaN,NaN,NaN,-100,NaN,NaN,...,0.87801,0,0.047747,0.85587,0.43931,-100,NaN,NaN,NaN,NaN
162325,162325,NaN,NaN,-100,NaN,NaN,NaN,-100,NaN,NaN,...,0.87803,0,0.049033,0.85587,0.43931,-100,NaN,NaN,NaN,NaN

In [4]:
columns = ['Frame', 'Home-Player11-x', 'Home-Player11-y', 'Home-Player1-x', 'Home-Player1-y', 'Home-Player2-x', 'Home-Player2-y',
       'Home-Player3-x', 'Home-Player3-y', 'Home-Player4-x', 'Home-Player4-y', 'Home-Player5-x', 'Home-Player5-y', 'Home-Player6-x', 'Home-Player6-y',
       'Home-Player7-x', 'Home-Player7-y', 'Home-Player8-x', 'Home-Player8-y', 'Home-Player9-x', 'Home-Player9-y', 'Home-Player10-x',
       'Home-Player10-y', 'Away-Player25-x', 'Away-Player25-y', 'Away-Player15-x', 'Away-Player15-y', 'Away-Player16-x',
       'Away-Player16-y', 'Away-Player17-x', 'Away-Player17-y', 'Away-Player18-x', 'Away-Player18-y', 'Away-Player19-x',
       'Away-Player19-y', 'Away-Player20-x', 'Away-Player20-y', 'Away-Player21-x', 'Away-Player21-y', 'Away-Player22-x',
       'Away-Player22-y', 'Away-Player23-x', 'Away-Player23-y', 'Away-Player24-x', 'Away-Player24-y', "Ball-x", "Ball-y"]

In [5]:
df.columns = columns

ValueError: Length mismatch: Expected axis has 184 elements, new values have 47 elements

In [ ]:
df

In [13]:
# game_1_pre = PreProcessing(data_home="data/Sample_Game_1/Sample_Game_1_RawTrackingData_Home_Team.csv", 
#                            data_away="data/Sample_Game_1/Sample_Game_1_RawTrackingData_Away_Team.csv")
# sides = ["Home"]*11
# game_1_pre.player_tracking(df.iloc[2:3], players=list(range(1, 12)) , sides=sides, plot_ball=False)

In [14]:
# sides = ["Away"]*11
# game_1_pre.player_tracking(df.iloc[2:3], players=list(range(15, 26)), sides=sides, plot_ball=False)

In [2]:
with open("data/Sample_Game_3/Sample_Game_3_events.json", "r") as f:
    data = json.load(f)

In [12]:
data["data"][0]

{'index': 1,
 'team': {'name': 'Team A', 'id': 'FIFATMA'},
 'type': {'name': 'SET PIECE', 'id': 5},
 'subtypes': {'name': 'KICK OFF', 'id': 35},
 'start': {'frame': 361, 'time': 14.44, 'x': None, 'y': None},
 'end': {'frame': 361, 'time': 14.44, 'x': None, 'y': None},
 'period': 1,
 'from': {'name': 'Player 10', 'id': 'P3577'},
 'to': None}

In [26]:
data = metrica.load_tracking_epts(
    meta_data="data/Sample_Game_3/Sample_Game_3_metadata.xml",
    raw_data="data/Sample_Game_3/Sample_Game_3_tracking.txt",
    coordinates="metrica"
)

In [27]:
df = data.to_df()

In [28]:
df

,period_id,timestamp,frame_id,ball_state,ball_owning_team_id,ball_x,ball_y,ball_z,ball_speed,P3578_x,...,P3698_d,P3698_s,P3699_x,P3699_y,P3699_d,P3699_s,P3700_x,P3700_y,P3700_d,P3700_s
0,1,0 days 00:00:00,1,None,None,NaN,NaN,None,None,0.84722,...,None,None,NaN,NaN,None,None,NaN,NaN,None,None
1,1,0 days 00:00:00.040000,2,None,None,NaN,NaN,None,None,0.84722,...,None,None,NaN,NaN,None,None,NaN,NaN,None,None
2,1,0 days 00:00:00.080000,3,None,None,NaN,NaN,None,None,0.84722,...,None,None,NaN,NaN,None,None,NaN,NaN,None,None
3,1,0 days 00:00:00.120000,4,None,None,NaN,NaN,None,None,0.84722,...,None,None,NaN,NaN,None,None,NaN,NaN,None,None
4,1,0 days 00:00:00.160000,5,None,None,NaN,NaN,None,None,0.84722,...,None,None,NaN,NaN,None,None,NaN,NaN,None,None
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
143756,2,0 days 00:49:23.800000,143757,None,None,NaN,NaN,None,None,0.11993,...,None,None,0.80792,0.27106,None,None,0.50441,0.95774,None,None
143757,2,0 days 00:49:23.840000,143758,None,None,NaN,NaN,None,None,0.11993,...,None,None,0.80712,0.27184,None,None,0.50427,0.95715,None,None
143758,2,0 days 00:49:23.880000,143759,None,None,NaN,NaN,None,None,0.11993,...,None,None,0.80582,0.27242,None,None,0.50395,0.95674,None,None
143759,2,0 days 00:49:23.920000,143760,None,None,NaN,NaN,None,None,0.11993,...,None,None,0.80444,0.27260,None,None,0.50342,0.95590,None,None
143760,2,0 days 00:49:23.960000,143761,None,None,NaN,NaN,None,None,0.11993,...,None,None,0.80212,0.27596,None,None,0.50272,0.95565,None,None

In [29]:
col = list(df.columns[3:])
df.columns = ["Period", "Time [s]", "Frame"] + col
df["Time [s]"] = df["Time [s]"] / np.timedelta64(1, "s")

In [30]:
df

,Period,Time [s],Frame,ball_state,ball_owning_team_id,ball_x,ball_y,ball_z,ball_speed,P3578_x,...,P3698_d,P3698_s,P3699_x,P3699_y,P3699_d,P3699_s,P3700_x,P3700_y,P3700_d,P3700_s
0,1,0.00,1,None,None,NaN,NaN,None,None,0.84722,...,None,None,NaN,NaN,None,None,NaN,NaN,None,None
1,1,0.04,2,None,None,NaN,NaN,None,None,0.84722,...,None,None,NaN,NaN,None,None,NaN,NaN,None,None
2,1,0.08,3,None,None,NaN,NaN,None,None,0.84722,...,None,None,NaN,NaN,None,None,NaN,NaN,None,None
3,1,0.12,4,None,None,NaN,NaN,None,None,0.84722,...,None,None,NaN,NaN,None,None,NaN,NaN,None,None
4,1,0.16,5,None,None,NaN,NaN,None,None,0.84722,...,None,None,NaN,NaN,None,None,NaN,NaN,None,None
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
143756,2,2963.80,143757,None,None,NaN,NaN,None,None,0.11993,...,None,None,0.80792,0.27106,None,None,0.50441,0.95774,None,None
143757,2,2963.84,143758,None,None,NaN,NaN,None,None,0.11993,...,None,None,0.80712,0.27184,None,None,0.50427,0.95715,None,None
143758,2,2963.88,143759,None,None,NaN,NaN,None,None,0.11993,...,None,None,0.80582,0.27242,None,None,0.50395,0.95674,None,None
143759,2,2963.92,143760,None,None,NaN,NaN,None,None,0.11993,...,None,None,0.80444,0.27260,None,None,0.50342,0.95590,None,None
143760,2,2963.96,143761,None,None,NaN,NaN,None,None,0.11993,...,None,None,0.80212,0.27596,None,None,0.50272,0.95565,None,None

In [57]:
game_3_data = pd.read_csv("game/FULL MATCH _ Man City v Tottenham _ VIP Tactical Camera 1080p _ 2022 __FifaDataRawData.txt", sep=r"[;,:]", header=None, engine="python")
game_3_data.index =  range(1, len(game_3_data) + 1)

In [67]:
game_3_data

,0,1,2,3,4,5,6,7,8,9,...,174,175,176,177,178,179,180,181,182,183
1,1,0.68944,1.02866,0,0.402215,0.45254,0.65863,1,1.829323,NaN,...,NaN,-100,NaN,0.91063,0.51413,2,2.61732,NaN,NaN,NaN
2,2,0.68923,1.02838,0,0.402215,0.45199,0.65776,1,1.829323,NaN,...,NaN,-100,NaN,0.90999,0.51272,2,2.61732,NaN,NaN,NaN
3,3,0.68903,1.02810,0,0.402215,0.45144,0.65688,1,1.829323,NaN,...,NaN,-100,NaN,0.90935,0.51132,2,2.61732,NaN,NaN,NaN
4,4,0.68884,1.02784,0,0.402215,0.45091,0.65600,1,1.829323,NaN,...,NaN,-100,NaN,0.90871,0.50993,2,2.61732,NaN,NaN,NaN
5,5,0.68867,1.02758,0,0.402215,0.45039,0.65511,1,1.829323,NaN,...,NaN,-100,NaN,0.90805,0.50856,2,2.61732,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
162321,162321,NaN,NaN,-100,NaN,NaN,NaN,-100,NaN,NaN,...,0.87794,0,0.051278,0.85587,0.43931,-100,NaN,NaN,NaN,NaN
162322,162322,NaN,NaN,-100,NaN,NaN,NaN,-100,NaN,NaN,...,0.87796,0,0.047640,0.85587,0.43931,-100,NaN,NaN,NaN,NaN
162323,162323,NaN,NaN,-100,NaN,NaN,NaN,-100,NaN,NaN,...,0.87799,0,0.046902,0.85587,0.43931,-100,NaN,NaN,NaN,NaN
162324,162324,NaN,NaN,-100,NaN,NaN,NaN,-100,NaN,NaN,...,0.87801,0,0.047747,0.85587,0.43931,-100,NaN,NaN,NaN,NaN
162325,162325,NaN,NaN,-100,NaN,NaN,NaN,-100,NaN,NaN,...,0.87803,0,0.049033,0.85587,0.43931,-100,NaN,NaN,NaN,NaN

In [74]:
game_3_data[(game_3_data.loc[:, 183].isna())].index

Index([     1,      2,      3,      4,      5,      6,      7,      8,      9,
           10,
       ...
       162316, 162317, 162318, 162319, 162320, 162321, 162322, 162323, 162324,
       162325],
      dtype='int64', length=161326)

In [73]:
game_3_data.loc[16123:, 183]

161232    0.171657
161233    0.145281
161234    0.119120
161235    0.093665
161236    0.069712
            ...
162321         NaN
162322         NaN
162323         NaN
162324         NaN
162325         NaN
Name: 183, Length: 1094, dtype: float64